<div class = 'container'>
  <footer class = 'footer'>
    <small>
      Created by Dawid Gałęziewski
    </small>
    
    
    <nav>
      <ul>
        <li><a href ='https://www.linkedin.com/in/dawid-ga%C5%82%C4%99ziewski-253969124'>Bio</a></li>
        <li><a href = 'https://github.com/DawidGaleziewski/alpha_tank_v0_1'>Github</a></li>
      </ul>
    </nav>
    
    
  </footer>
</div>